<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
     
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a [routerLink]="['/home']">HOME</a></li>
            <li><a [routerLink]="['/about']">ABOUT</a></li>
      


          </ul>
        
        </div><!-- /.navbar-collapse -->
        <div class="jumbotron jumbotron-fluid">
           <div class="container">
            <h1 class="display-3" class="row">Game Of Thrones</h1>
            <p class="lead">The Below shows all books, characters and Houses of Ice and Fire Series </p>
          </div>
        </div>
      </div><!-- /.container-fluid -->
  </div>
 
  <br/>

  


  <router-outlet></router-outlet> 
  <!--Footer-->
  <footer class="page-footer font-small blue pt-4 mt-4">
  <br><br><br>
    <!--Copyright-->
    <div class="footer py-3 text-center">
        © 2018 Copyright <span style="font-weight: bold;"> shubham kumar </span>
    </div>
    
  
  </footer>
  <!--/.Footer-->
 
 